@import url('https://fonts.googleapis.com/css?family=Kreon:300,400|Droid+Sans');
body {
    background-image: url('../assets/img/bkgd_body.png');
    background-repeat: repeat;
    width: 1400px;
    height: 1400px;
    padding-top: 50px;
}

.wrapper {
    width: 960px;
    min-height: 1000px;
    background: white;
    margin: auto;
}

header {
    height: 100px;
    border-top: 1px solid white;
    border-bottom: 1px solid #e8e8e8;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(white));
    background-image: -webkit-linear-gradient(top, #f7f7f7, white 20%);
    background-image: -moz-linear-gradient(top, #f7f7f7, white 20%);
    background-image: linear-gradient(to bottom, #f7f7f7, white 20%);
}

#social {
    
}

.social-icon {
    width: 14px;
    display: inline-block;
}

#search {
    width: 160px;
    height: 30px;
    border-bottom: 1px solid #dedede;
    border-left: 1px solid #dedede;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#f7f7f7));
    background-image: -webkit-linear-gradient(top, #eee, #f7f7f7);
    background-image: -moz-linear-gradient(top, #eee, #f7f7f7);
    background-image: linear-gradient(to bottom, #eee, #f7f7f7);
    color: #a9a9a9;
    font-family: Georgia, serif;
    padding: 5px;
}

#logo {

}
a {
    text-decoration: none;
    color: #4e4e4e;
    cursor: pointer;
}
nav > ul > li {
    display: inline;
    font-family: 'Kreon', serif;
    font-weight: 400;
    margin-right: 20px;
    /* color: #4e4e4e; */
}

#second-navigation {
    height: 50px;
    background-image: url('../assets/img/bkgd_nav_01.png');
}

#second-navigation > nav {
    max-width: 900px;
}

ul {
    margin: 0px;
}

#slider {
    height: 390px;
}

#slider-images {
    height: 330px;
    background-image: url('../assets/img/slider_image_1.jpg');
    border-bottom: 1px solid #a9a9a9;
}

#slider-controls-bottom {
    height: 60px;
    /* border-bottom: 1px solid #a9a9a9; */
}

.control-bottom {
    border-radius: 50%;
    width: 14px;
    height: 14px;
    background: #dfdfdf;
    display: inline-block;
    box-sizing: border-box;
}

.control-bottom.active{
    border-radius: 50%;
    width: 14px;
    height: 14px;
    background: #1e1e1e;
    border: 3px solid #dfdfdf;
    display: inline-block;
    box-sizing: border-box;
}
.divider {
    height: 1px;
    max-width: 890px;
    background: #f0f0f0;
    margin: auto;
}

#quote {
    height: 130px;
    text-align: center;
}

#quote h1 {
    font-size: 1.5em;
    font-family: 'Kreon', serif;
    font-weight: 400;
    color: #1d1d1d;
}
#quote p {
    font-family: 'Kreon';
    font-weight: 300;
    color: #929292;
}
main {
    border-bottom: 1px solid #ececec;
}
.article-exerpt {
    
}

.article-exerpt img {
    width: 240px;
    height: 126px;
    border: 3px solid white;
    /* border-left: 1px solid #f0f0f0;
    border-top: 1px solid #f0f0f0;
    border-right: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4; */
}

.article-exerpt p {
    font-size: .9em;
    font-family: 'Droid Sans', sans-serif;
}

.heading {
    font-family: 'Kreon', serif;
    font-weight: 300;
}

.links a {
    font-family: 'Droid Sans', sans-serif;
}

#media-wrapper {
    background: white;
    border-radius: 10px;
    border-left: 1px solid #f0f0f0;
    border-top: 1px solid #f0f0f0;
    border-right: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
}
.media-item {
    
}
.media-item img {
    border: 3px solid white;
}

footer {
    border: 1px solid white;
    background: #f9f9f9;
}

footer p {
    font-size: .9em;
    font-family: 'Droid Sans', sans-serif;
}
