<section id="add-slide">
    <h2>Add new slide</h2>
    <input type="text" id="input-slide-title" placeholder="Slide Title" required>
    <textarea name="slide_text" id="input-slide-text" cols="30" rows="10"  placeholder="Slide Text" required></textarea>
    <input type="file" name="input_slide_image" id="input-slide-image" required>
    <button id="slide-button" type="submit" onclick="addNewSlide()">Add slide</button>
</section>
<section id="add-category">
    <h2>Add new Category</h2>
    <input type="text" name="categoryname" id="input-category-name" placeholder="Category name" required>
    <textarea name="category_description" id="input-category-description" cols="30" rows="10"  placeholder="Category dascription" required></textarea>
    <button id="category-button" type="submit" onclick="addNewCategory()">Add category</button>
</section>
<section id="add-post">
    <h2>Add new Post</h2>
    <select type="text" name="postcategory" id="input-post-category" placeholder="Post category" required>
    {{#if categories}}
    <option selected disabled>select category</option>
    {{#each categories}}
    <option value="{{this}}">{{this}}</option>
    {{/each}}
    {{else}}
    <option selected disabled>add category first</option>
    {{/if}}
    </select>
    <input type="text" name="posttitle" id="input-post-title" placeholder="Post title" required>
    <textarea name="posttext" id="input-post-text" cols="30" rows="10" placeholder="Post text" required></textarea>     
    <input type="file" name="input_post_image" id="input-post-image" required>
    <button id="post-button" type="submit" onclick="addNewPost()">Add post</button>
</section>
<section id="add-multimedia">
    <h2>Add new Multimedia</h2>
    <textarea name="posttext" id="input-multimedia-text" cols="30" rows="10" placeholder="Multimedia text" required></textarea> 
    <input type="file" name="multimedia" id="input-multimedia-image" required>
    <button id="multimedia-button" type="submit" onclick="addNewMultimedia()">Add multimedia</button>
</section>
<section id="add-slide">
    <h2>Add new Article</h2>
    <input type="text" id="input-article-title" placeholder="Article Title" required>
    <textarea name="article_text" id="input-article-text" cols="30" rows="10"  placeholder="Article Text" required></textarea>
    <input type="file" name="input_article_image" id="input-article-image" required>
    <button id="slide-button" type="submit" onclick="addNewArticle()">Add article</button>
</section>